/* Atributos globales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Roboto', sans-serif;
}

/* sección header */

div.descuentos{
    background-color: #1CD1B0;
    padding: 10px 10px;
}
header.navegador{
    background-color: #00669F;
    padding: 28px 28px;
    position: sticky;
    top:0px;
    z-index: 10;
}

/* seccion main cartas */

#cartas {
    display: flex;
    text-align: center;
    margin-bottom: 200px;
    margin-top: 100px;
    justify-content: center;
    flex-wrap: wrap;
}

section.carta{
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    background-color: #F3F3F3; 
    margin: 0 20px;
    
}

.imagenfondo {
    width: 300px;
    height: 190px;
}

.like{
position: absolute;
top: 10px;
left: 10px;
}

.carta .imagenfondo{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.carta.batman .imagenfondo{
    background-image: url('../img/baticueva.png');
}

.carta.harley .imagenfondo{ 
    background-image: url('../img/fondoHarley.png');
}

.carta.maravilla .imagenfondo{
    background-image: url('../img/fondomujermar.png');
}

.carta.superman .imagenfondo{
    background-image: url('../img/fondosuperman.png');
}

.imagenperfil {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    top: 140px;
    left: 90px;
}

.carta.batman .imagenperfil{
    background-image: url('../img/perfil-batman.png');
}

.carta.harley .imagenperfil{
    background-image: url('../img/perfil-harley.png');
}

.carta.carta.maravilla .imagenperfil{
    background-image: url('../img/mujermar.png');
}

.carta.superman .imagenperfil{
    background-image: url('../img/supermannuevo.png');
}

.contenido h2{
    margin-top: 74px;
}
.contenido p{
    margin-top: 10px;
    text-align: left; 
    height: 300px;
    padding: 30px 30px 0 30px;
}

.vermas{
    background-color: #00669F;
    color: white;
    display: inline-block;
    padding: 15px;
    margin-bottom: 10px;
}

.vermas a{
    color: #fff;
    text-decoration: none;
}

/* sección footer */

footer{
    position: relative;
    display: flex;
    background-color: #00669F;
    color:white;
    padding: 30px 0px;
    justify-content: center;
}

footer .logogit{
    background-image: url('../img/github.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 165px;
    height: 45px;
    position: absolute;
    right: 40px;
    bottom: 20px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    section.carta {
        margin-bottom: 20px;
    }
}