.descuentoveinte {
    background-color: rgba(28, 209, 176, 1);
    padding: 10px;
}

header {
    background-color: rgba(0, 102, 159, 1);
    height: 7vh;
    padding: 20px;
    position: sticky; top: 0px;
}




 .batman {
    width: 22vw;
    height: 70vh;
    position: relative;
    border-radius: 16px 16px 0px 0px;
    background-image: url(/HEROES/root/img/baticueva.png); 
}

.harley {
    width: 22vw;
    height: 70vh;
    position: relative;
    border-radius: 16px 16px 0px 0px;
     display: flex; 
     background-image: url(/HEROES/root/img/fondoHarley.png);
    background-repeat: no-repeat; 
}

.mujermaravilla{
    width: 22vw;
    height: 70vh;
    position: relative;
    border-radius: 16px 16px 0px 0px;
    background-image: url(/HEROES/root/img/fondomujermar.png);  
}

main {
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* .icon { */
    /* position: absolute; */
    /* margin: 10px; */
    /* font-size: 20px; */
/* } */

.perfil > img {
    border-radius: 50%;
    position: absolute; left: 6vw; top: 20vh;
    z-index: 10;
    
}

.texto{
    position: absolute; top: 30vh;
    text-align: center;
    background-color: rgba(243, 243, 243, 1);
    height: 40vh;

}

.texto > p {
    text-align: left;
    margin: 10px;
}

h2, p,button {
    position: relative; top: 10vh;
}

button {
    width: 7vw;
    height: 5vh;
    background-color: rgba(0, 102, 159, 1);
    border-style: none;
    color: white;
}
footer {
    display: flex;
    background-color: rgba(0, 102, 159, 1);
    color: white;
    height: 5vh;
    align-items: center;
}


footer > span {
    margin-left: 10px;
}

