body {
    color: #6b0243;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h1, h2{
        background-color: #7c7777;
        
    }
footer{
    background-color: black;
    color:blanchedalmond;
}