*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


body{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* width: 1024px; */
    width: 100vw;
    height: 100vh;
    overflow-x:hidden;
}


/* header */

.ofertas {
    display: flex;
    justify-content:space-around;
    background-color: #222222;
    color: #F3F3F3;
    width: 100%;
    height: 50px;
    gap: 300px;
}

.logo{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #F0A83E;
    height: 90px;
}

div ul{
    display: flex;
    gap: 15px;
    
}


/* main  */

main{
    margin-top: 0px;
}

.comederos{
    background-image: url('../img/uooooo.png');
    height: 400px;
    
}

h2{
    position: relative;
    top: 30%;
    left: 60%;
    width: 300px;
    height: 30px;
    padding: 4px;
    text-align: center;
    color: #3C2313;
    border-radius: 5px;
    background-color: white;
}

.comederos p{
    position: relative;
    top: 40%;
    left: 64% ;
    color: #3C2313;
    padding: 5px;
}

.link{
    position: relative;
    top: 40%;
    left: 65%;
    color: #F3F3F3;
    width: 150px;
    height: 60px;
    background-color: #F0A83E;
    text-align:center;
    border-radius: 5px;
    padding: 20px;
    
}

.garrita{
    position: relative;
    left: 50%;
    height: 150px;
    margin-top: 50px;
}

h1{
    font-size: 40px;
    color: #3C2313;
    position: relative;
    right: 10%;
}

.subtitulo{
    position: relative;
    right: 6%;
    color: #666666;
}

.imagenes{
    display: flex;
    width: 10%;
    justify-content:space-between;
    gap: 150px;
    margin-left: 100px;
}


.precios{
    display: flex;
    gap: 400px;
    margin-left: 100px;
}

.contacto h3{
    position: relative;
    left: 47%;
    margin-top: 50px;
    font-size: 40px;
    color: #3C2313;
}

div.formulario ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 10px;
}

div.formulario li{
    display: flex;
    padding-left: 15px;
}

div.formulario ul li{
    width: 340px;
    height: 40px;
    font-size: 12px;
    border-radius: 15px;
    background-color: #3C2313;
    margin-left: 100px;
    align-items: center
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-left: 150px;
    padding: 20px;
}

#uno{
    background-color: #8A8787;
    width: 100px;
    height: 30px;
    padding-top: 10px;
    text-align: center;
    border-radius: 15px;
}

#dos{
    background-color: #F0A83E;
    width: 100px;
    height: 30px;
    padding-top: 10px;
    text-align: center;
    border-radius: 15px;
}

/* footer primera parte */

.suscripcion{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0A83E;
    color: #F3F3F3;
    font-size: 20px;
    gap: 200px;
}

.suscripcion ul{
    display: flex;
}

#primera{
    background-color: #F3F3F3;
    width: 350px;
    height: 35px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 15px;
    color: #A0A0A0;
    font-size: 15px;
}

#segunda{
    background-color: #3C2313;
    width: 100px;
    height: 35px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 15px;
    font-size: 15px;
}


/* footer segunda parte */

.iconos{
    background-color: #3C2313;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    
}

.iconos div{
    display: flex;
    gap: 20px;
    padding-top: 20px;
    color: white;
}


.logofooter{
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: 1150px;
    bottom: 100px;
}

.derechos{
    background-color: #222222;
    height: 30px;
    color: white;
    text-align: center;
}